[importlinter]
root_package = ansible_self_service
include_external_packages = True

[importlinter:contract:1]
name = Four tier layers contract
type = layers
layers=
    ansible_self_service.l1_entrypoints
    ansible_self_service.l2_infrastructure
    ansible_self_service.l3_services
    ansible_self_service.l4_core
